.title-block {
	color: white;
	background-color: #001A57;
	box-shadow: 10px 10px 5px #888888;
    /*40px --> 3%, 10px -->1.3%*/

	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75% 1.3% 3%;

	float: left;
	width: 90%;
	height: 75px;
	line-height: 75px;
	font-size:200%;
	font-family: "Georgia", Times, serif;
}

input[type=text] {
  display: block;
  border: 1px dotted #999;
  border-radius: 15px;
  text-align: center;
  width: 80%; height: 60px;
  margin: 1.3% 0.75% 1.3% 4%;
  float: left;

  -webkit-appearance: none;
}

button {
	display: block;
	text-align: center;
	width: 8%; height: 60px;
	margin: 1.3% 0.75%;
	float: left;

	-webkit-appearance: none;
}

textarea {
  display: block;
  border: 1px solid #02267a;
  border-radius: 5px;
  text-align: center;
  font-height: 60px;
  width: 80%; height: 60px;
  margin: 1.3% 0.75% 1.3% 4%;
  float: left;

  -webkit-appearance: none;
}
.smilies {
	margin: 1.3% 0.75% 1.3% 3%;

	float: left;
	width: 90%;
}

.post {
	color: #001A57;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
    /*40px --> 3%, 10px -->1.3%*/

	text-align: center;
	border: solid 10px #001A57;
	margin: 1.3% 0.75% 1.3% 3%;

	float: left;
	width: 90%;
	height: 75px;
	line-height: 75px;
	font-size:200%;
	font-family: "Georgia", Times, serif;
}
